</thead>
<tbody>
    <% if (cartItems && cartItems.length>0) { %>
        <% cartItems.forEach(items=> { %>
            <% items.products.forEach(product=> { %>
                <tr >
                    <td scope="row" style="width: 60%;">
                        <%= product.productId.productName%>
                    </td>
                    <td style="width: 60%;"> X <%= product.quantity %>
                    </td>
                    <td style="width: 60%;">
                        <%= product.productId.price * product.quantity %>
                    </td>
                </tr>

                <% }) %>
                    <% }) %>
                        <% } %>
                            <tr>
                                <td style="width: 60%;">
                                    <h4>Sub Total</h4>